{:deps true
 :dev-http {9000 ["public"]}
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :compiler-options {:optimizations :advanced}
        :runtime :browser
        :modules {:main {:init-fn caicat.webui.main/init}}}}
 :nrepl {:port 7888}}
